[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[dev-packages]



[packages]

requests = "*"
twilio = "*"
schedule = "*"
rq = "*"
pymongo = {extras = ["tls"]}
pytest = "*"
rollbar = "*"
flask = "*"
gunicorn = "*"
flask-basicauth = "*"


[requires]

python_version = "3.6"
