[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"

[packages]
requests = "*"
twilio = "*"
schedule = "*"
redis = "==3.2.0"
rq = "*"
pymongo = {extras = ["tls", "srv"]}
rollbar = "*"
flask = "*"
gunicorn = "*"
flask-basicauth = "*"
flask-cors = "*"
raven = "*"
dnspython = "*"

[requires]
python_version = "3.6.7"
