[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
black = "*"
mypy = "*"
flake8 = "*"

[packages]
requests = "*"
twilio = "*"
schedule = "*"
redis = "*"
rq = "*"
pymongo = {extras = ["tls", "srv"]}
rollbar = "*"
flask = "*"
gunicorn = "*"
flask-basicauth = "*"
flask-cors = "*"
raven = "*"
dnspython = "*"

[requires]
python_version = "3.9.16"

[pipenv]
allow_prereleases = true
